body {
    margin: 0;
    font-family: Arial;
    background: #f2f6ff;
}

.login-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f172a, #2563eb);
}

.login-box {
    background: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
}

.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.bio-buttons button {
    background: #0f172a;
}

header {
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 25px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
}

.status {
    color: green;
    font-weight: bold;
}

.voltage {
    font-size: 35px;
    color: red;
    font-weight: bold;
}

.danger {
    background: red;
}

.active {
    color: green;
    font-weight: bold;
}